.container
{
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    gap: 50px;

    .header
    {
        text-align: center;
        font-size: 2.5em;
    }

    .content
    {
        text-align: center;
    }

    .footer
    {
        text-align: center;
    }
}

.cards
{
    width: 100vw;

    display: grid;
    grid-template-columns: auto auto auto;

    gap: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.itemContainer:hover
{
    .itemPreview
    {
        opacity: 0.3;
    }

    .itemOverlay
    {
        opacity: 1;
    }
}

.itemOverlay
{
    position: absolute;
    top: 50%;
    left: 50%;

    opacity: 0;

    transition: 0.5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    text-align: center;
    font-size: 1.5em;
}