.container
{
    display: grid;
    grid-template-areas:
        "hero"
        "featured"
        "counter"
        "services"
        "dock";

    .hero
    {
        padding-bottom: 150px;
    }

    .counter
    {
        padding-bottom: 150px;
    }

    .featured
    {
        padding-bottom: 150px;
    }
    .dock
    {
        position: fixed;

        top: 90%;
        right: 50%;
    }
}